.favorite-content {
        padding: 0 20px;
        cursor: pointer;

        .favorite-title {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
            color: black;
        }

        .favorite-list {
            display: flex;
            gap: 15px;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 20px;

            .favorite-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 150px;
                max-width: 200px;
                box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
                border-radius: 8px;

                .favorite-photo {
                    border-radius: 8px 8px 0 0;
                    height: 225px;
                }

                .favorite-info {
                    padding: 0 2px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    gap: 2px;

                    .favorite-name {
                        margin-top: 8px;
                        font-weight: 500;
                        text-align: center;
                        color: black;
                    }

                    .favorite-character {
                        font-size: 14px;
                        color: black;
                        text-align: center;
                        text-wrap: wrap;
                    }
                }

            }
        }
    }