.welcome-page {
    width: 100%;
    background-color: whitesmoke;

    .welcome-page-content {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;

        .movie-results-container {
            padding: 20px;

            .movie-results {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1.5rem;
            }
        }

        .search-bar {
            width: 100%;
            background-color: #E5E7E8;
            margin: 20px;
            border-radius: 20px;

            .MuiInputBase-root {
                border-radius: 20px;
            }
        }
    }
}